.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  position: sticky;
  top: 0;
  background-color: #120c44;
  z-index: 1000;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-left h1 {
  font-size: 1.2rem;
  margin: 0rem;
  font-weight: 600;
}

.links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.link {
  font-size: 0.8rem;
  color: var(--grey);
  font-weight: 600;
  cursor: pointer;
}

.link:hover {
  color: var(--white);
  transform: all 0.3s;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.login-button {
  border: 2px solid var(--white) !important;
  /* color: white; */
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 600;
  border-radius: 2rem;
}

/* .login-button:hover {
  background-color: var(--primary-dark);
} */

.drawer-component {
  display: none;
}

@media only screen and (max-width: 800px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 1.5rem;
  }

  .header-left {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .links {
    display: none;
  }

  .drawer-component {
    display: block;
  }

  .header-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
